.app.light {
  --bg-color: #e8e8e8;
  --inverted-bg-color: #080855;

  --primary-color: #103eca;
  --secondary-color: #004ff8;
  --inverterd-primary-color: #049604;
  --inverterd-secondary-color: #04ff04;
}
